@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-400: hsl(12, 88%, 59%);
	--primary-800: hsl(13, 100%, 96%);
	--secondary-200: hsl(233, 12%, 13%);
	--secondary-400: hsl(228, 39%, 23%);
	--secondary-600: hsl(227, 12%, 61%);
	--secondary-800: hsl(0, 0%, 98%);
	--s1: 0.5rem;
	--s2: 1rem;
	--s3: 1.5rem;
	--s4: 2rem;
	--s5: 2.5rem;
	--s6: 3rem;
}

h1,
h2,
h3,
h4 {
	color: var(--secondary-400);
}

h1 {
	font-size: clamp(2rem, 4vw, 3.5rem);
}

h2 {
	font-size: clamp(1.5rem, 3vw, 2.5rem);
}

p {
	color: var(--secondary-600);
	line-height: 1.75em;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

img {
	max-width: 100%;
	display: block;
}

.hero__image > img {
	width: 100%;
}

body {
	font-family: 'Be Vietnam Pro', sans-serif;
}

.manage {
	background: url(./images/bg-tablet-pattern.svg) no-repeat right -12rem top -15rem;
}

.container {
	margin-inline: auto;
	width: 80%;
	max-width: 1440px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: var(--s6);
	margin-bottom: var(--s6);
}

.header__nav__links {
	display: flex;
	gap: 2rem;
	color: var(--secondary-200);
	font-weight: 500;
}

.nav__link {
	font-size: 0.8rem;
}

.nav__link:hover {
	color: var(--secondary-600);
}

.cta {
	background-color: var(--primary-400);
	border: none;
	padding: var(--s2) var(--s4);
	border-radius: 10rem;
	color: var(--primary-800);
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	box-shadow: 0 1rem 1rem -0.5rem hsla(12, 88%, 59%, 0.321);
	transition: background-color 0.2s ease-out;
}

.cta:not(.outro__btn):hover {
	background-color: hsl(12, 80%, 70%);
}

.hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--s6);
	align-items: center;
	margin-bottom: calc(var(--s4) + var(--s6));
}

.hero__content > * + * {
	margin-top: var(--s3);
}

.hero__title {
	max-width: 670px;
}

.hero__text {
	width: 80%;
	margin-bottom: var(--s2);
}

.features {
	position: relative;
}

.features > .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--s6);
	margin-bottom: calc(5 * var(--s4));
}

.capsule {
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	transform: translate(-65%, 75%);
}

.features__left > * + *,
.features__right > * + * {
	margin-top: var(--s3);
}

.features__left__text {
	width: 80%;
}

.feature__item {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--s1);
	align-items: center;
}

.feature__item__text {
	grid-column: 2/3;
}

.sl-no {
	background: var(--primary-400);
	padding: var(--s1) var(--s3);
	border-radius: 10rem;
	color: var(--primary-800);
	font-weight: 700;
	margin-right: var(--s2);
}

.testimonials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--s6);
	margin-bottom: calc(5 * var(--s4));
	overflow: hidden;
}
.testimonials__title {
	margin-bottom: var(--s4);
}

.testimonials__slider {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, min(40%, 600px));
	gap: var(--s4);
	padding: var(--s6) var(--s2) 0;
	overflow: scroll;
}

.testimonials__slider::-webkit-scrollbar {
	display: none;
}

.testimonial {
	background-color: var(--secondary-800);
	border-radius: var(--s1);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--s2);
	text-align: center;
	padding: var(--s4);
	position: relative;
}

.testimonial__image {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	width: 5rem;
}

.testimonial__title {
	margin-top: var(--s3);
}

.outro {
	background: url(./images/bg-simplify-section-desktop.svg) no-repeat left 15rem bottom;
	background-color: var(--primary-400);
	min-height: 14rem;
	display: flex;
	align-items: center;
}

.outro > .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.outro__title {
	color: var(--primary-800);
	font-weight: 500;
}

.outro__btn {
	background-color: var(--primary-800);
	color: var(--primary-400);
	font-weight: 700;
	box-shadow: 0 1rem 1rem -0.5rem hsla(11, 57%, 5%, 0.221);
	transition: color 0.2s ease-out;
}

.outro__btn:hover {
	color: hsl(12, 80%, 70%);
}

.footer {
	background-color: var(--secondary-200);
	padding-bottom: var(--s2);
}

.footer > .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--s4);
	padding-block: var(--s6);
}

.footer__social__links {
	display: flex;
	gap: var(--s2);
}

.footer__social__links > li:hover svg path {
	fill: var(--primary-400);
}

.footer__nav__links {
	color: var(--secondary-800);
	display: flex;
	flex-direction: column;
	gap: var(--s2);
}

.footer__nav__links > li:hover {
	color: var(--primary-400);
}

.newsletter {
	display: flex;
}

.newsletter__input {
	border: none;
	border-radius: 10rem;
	padding: var(--s2) calc(var(--s2) + 0.25rem);
	margin-right: var(--s1);
	font-family: inherit;
}

.copyright {
	color: var(--secondary-600);
	margin-left: auto;
	font-size: 0.8rem;
}

.footer__content.two,
.footer__content.three {
	grid-row: span 2;
}

.footer__content.four,
.footer__content.six {
	justify-self: end;
}

@media (min-width: 2500px) {
	.testimonials__slider {
		justify-content: center;
	}
}

@media (max-width: 1000px) {
	.container {
		width: 90%;
	}
}

@media (max-width: 800px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}
	.header__nav__links,
	.header__btn {
		display: none;
	}
	.hero {
		grid-template-columns: 1fr;
		justify-content: center;
	}
	.hero__content {
		text-align: center;
		order: 2;
	}
	.hero__text,
	.features__left__text {
		width: 100%;
	}

	.features > .container {
		grid-template-columns: 1fr;
	}

	.features__left {
		text-align: center;
	}

	.feature__item__text {
		grid-column: 1/3;
	}

	.testimonials__slider {
		grid-template-columns: repeat(4, 100%);
		scroll-snap-type: x mandatory;
		scroll-padding-inline: var(--s2);
	}

	.testimonial {
		scroll-snap-align: start;
	}

	.outro > .container {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: var(--s4);
		padding: var(--s6);
	}

	.footer > .container {
		grid-template-columns: 1fr 1fr;
	}

	.footer__content.four {
		order: -1;
		width: 100%;
		grid-column: span 2;
	}

	.footer__content {
		justify-self: center;
	}

	.footer__content.one {
		grid-row: 5/6;
		grid-column: span 2;
	}

	.footer__content.five {
		grid-column: span 2;
		width: 100%;
	}

	.footer__social__links {
		justify-content: space-around;
		margin-block: var(--s4);
	}

	.footer__social__links svg {
		transform: scale(1.5);
	}

	.newsletter__input {
		width: 100%;
	}

	.footer__content.six {
		grid-column: span 2;
		justify-self: center;
	}
}
